{{- partial "head.html" . -}}
{{- partial "header.html" . -}}
<div class="row">

		{{ range .Pages.ByPublishDate.Reverse }}
		<div class="card col col-sm-12 col-md-12 col-lg-6">
			  <a href="{{ .RelPermalink }}"><img src="https://canitia.dev/assets/images/fallback-image.jpg" class="homepage-image" alt="{{ .Title }}" title="{{ .Title }}"></a>         
		  <div class="card-block">
			<h2 class="card-title"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
			  <div class="card-actions-top">
	  
					  <a href="#" title="Michael Boumann"><img src="//www.gravatar.com/avatar/91d7ce3ab716d026e7a517fcad4baf49?s=250&amp;d=mm&amp;r=x" class="homepage-avatar" alt="Geschreven door Michael Boumann" title="Geschreven door Michael Boumann"></a> 
				  <small class="text-muted badge">
					  <time datetime="2019-06-07">07 juni 2019</time>
				</small>
			  </div>
			<p class="card-text">IpsumLorem Ipsum is slechts een proeftekst uit het &nbsp;drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in &nbsp;deze bedrijfstak sinds</p>
		  </div>
		</div>  
	  
		{{ end }}
	  </div>