{{ partial "head" . }}
{{"<!-- begin layouts > _default > single.html  //-->" | safeHTML}}
<body>
<!-- Include our /layouts/partials/header.html partial -->
{{ partial "header" . }}
<div class="row h-100 page-row">
		<div class="col col-xs-12 col-md-12 col-lg-12 main-content">
		<article>
		  <div class="post-head">
				<h1 class="text-center post-title">{{ .Title }}</h1>
				  <div class="post-authors text-center">
						  <a href="#"><img src="//www.gravatar.com/avatar/91d7ce3ab716d026e7a517fcad4baf49?s=250&amp;d=mm&amp;r=x" class="post-avatar" alt="Geschreven door Michael Boumann" title="Geschreven door Michael Boumann"></a> 
				  </div>
				<div class="post-subitems text-center">
				  <i class="fas fa-clock"></i><time datetime="{{ .Date.Format "2006-01-13" }}">{{ .Date.Format "02 Jan 2006" }}</time>
				</div>
		  </div>
		<hr>
		<div class="post-content">
		  <p>{{ .Content }}</p>
		</div>

		{{ partial "author-section" . }}
  
	</article>
	  </div>
  </div>
  {{ partial "footer" . }}
  {{"<!-- end layouts > _default > single.html  //-->" | safeHTML}}


